
version: "3"

services:

  fmp-pmc:
    image: nginx:1.22.0
    restart: always
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - /fmp/fmp-pmc/www:/www
      - /fmp/fmp-pmc/conf.d:/etc/nginx/conf.d
    networks:
      vpc:
        ipv4_address: 10.1.252.11

networks:
  vpc:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.1.0.0/16
